@using GourmeJunk.Web.Extensions
@using GourmeJunk.Models.ViewModels.MenuItems
@model MenuItemCreateViewModel


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-info">Create MenuItem</h2>
<br />

<partial name="_StatusMessage" model="@Model.StatusMessage" />

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <div class="border backgroundWhite">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Name" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Name" class="form-control" />
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Description" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <textarea class="form-control" rows="3" asp-for="Description"></textarea>
            </div>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Price" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input asp-for="Price" class="form-control" />
            </div>
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="Image" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <input type="file" name="files" class="btn btn-outline-secondary" />
            </div>
        </div>

        <div class="form-group row">
            <div class="col-2">
                <label asp-for="CategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.CategoryId" id="CategoryId" asp-items="Model.Categories.ToSelectListItem(Model.CategoryId)" class="form-control">
                    <option selected disabled>Please select</option>
                </select>
            </div>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <label asp-for="SubCategoryId" class="col-form-label"></label>
            </div>
            <div class="col-5">
                <select asp-for="@Model.SubCategoryId" name="SubCategoryId" id="SubCategoryId" asp-items="@(new SelectList(string.Empty,"Id","Name"))" class="form-control"></select>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-5 offset-2">
                <partial name="_CreateAndBackToListButton" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    <script src="~/js/populateSubCategoriesDrpDwn.js"></script>
    <script>document.addEventListener("DOMContentLoaded", updateSubCategoryDrpDwn);</script>

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}    