@using GourmeJunk.Common
@using GourmeJunk.Web.Common
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using GourmeJunk.Data.Models

@inject IHttpContextAccessor httpContextAccessor
@inject SignInManager<GourmeJunkUser> signInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GourmeJunk</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.min.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" />
        <link rel="stylesheet" href="~/css/jquery.timepicker.min.css" />
    </environment>
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="search-background">
    <div class="siteInfo">
        <button type="button" class="siteInfoBtn btn" data-toggle="modal" data-target="#siteInfoModal">
           <i class="fas fa-info-circle"></i> Information
        </button>
    </div>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-lg-3">
            <a class="navbar-brand text-light" asp-controller="Home" asp-action="Index">GourmeJunk</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-lg-flex justify-content-lg-between" id="navbarNav">
                <partial name="_LoginPartial" />
                <ul class="navbar-nav d-md-flex flex-row order-lg-1">
                    @if (User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE_NAME))
                    {
                        <li class="nav-item dropdown mr-3 mr-lg-1">
                            <a class="nav-link dropdown-toggle text-light"
                               href="#"
                               id="navbarDropDownMenuLink"
                               role="button"
                               data-toggle="dropdown"
                               aria-haspopup="true"
                               aria-expanded="false">
                                Content Management
                            </a>
                            <div class="dropdown-menu p-0" aria-labelledby="navbarDropDownMenuLink">
                                <a class="dropdown-item"
                                   asp-area="Admin"
                                   asp-controller="Category"
                                   asp-action="Index">Categories</a>
                                <a class="dropdown-item"
                                   asp-area="Admin"
                                   asp-controller="SubCategory"
                                   asp-action="Index">
                                    SubCategories
                                </a>
                                <a class="dropdown-item"
                                   asp-area="Admin"
                                   asp-controller="MenuItem"
                                   asp-action="Index">
                                    Menu Items
                                </a>
                                <a class="dropdown-item"
                                   asp-area="Admin"
                                   asp-controller="Coupon"
                                   asp-action="Index">
                                    Coupons
                                </a>
                                <a class="dropdown-item"
                                   asp-area="Admin"
                                   asp-controller="User"
                                   asp-action="Index">
                                    Users
                                </a>
                            </div>
                        </li>
                    }

                    @if (httpContextAccessor.HttpContext.Session.GetInt32(@WebConstants.SESSION_NAME_SHOPPING_CART_INDIVIDUAL_ITEMS_COUNT) != null)
                    {
                        @if (signInManager.IsSignedIn(User))
                        {
                            <li class="mr-3 mr-lg-1" style="color:white">
                                <a asp-controller="Order" asp-action="OrderHistory" class="nav-link">
                                    <span class="text-white">Order History</span>
                                </a>
                            </li>

                            @if (User.IsInRole(GlobalConstants.KITCHEN_ROLE_NAME)
                            || User.IsInRole(GlobalConstants.RECEPTION_ROLE_NAME)
                            || User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE_NAME))
                            {
                                <li class="nav-item dropdown text-white-50 mr-3 mr-lg-1">
                                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Orders
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                        @if (User.IsInRole(GlobalConstants.KITCHEN_ROLE_NAME) || User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE_NAME))
                                        {
                                            <a class="dropdown-item" asp-action="ManageOrders" asp-controller="Order">Manage Orders</a>
                                        }
                                        @if (User.IsInRole(GlobalConstants.RECEPTION_ROLE_NAME) || User.IsInRole(GlobalConstants.ADMINISTRATOR_ROLE_NAME))
                                        {
                                            <a class="dropdown-item" asp-action="OrderPickup" asp-controller="Order">Orders Pickup</a>
                                        }
                                    </div>
                                </li>
                            }

                            <li style="color:white;">
                                <a asp-controller="ShoppingCart" asp-action="Index" class="nav-link">
                                    @{
                                        var userIndividualItemsCount = httpContextAccessor.HttpContext.Session.GetInt32(WebConstants.SESSION_NAME_SHOPPING_CART_INDIVIDUAL_ITEMS_COUNT);
                                    }
                                    <i class="fas fa-shopping-cart text-warning"></i>&nbsp; <span class="text-warning">(@userIndividualItemsCount)</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="p-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-light" style="background-color: #343a40">
        <div class="container-fluid pl-4">
            &copy; 2019 - GourmeJunk
        </div>
    </footer>

    <!-- SiteInfo Modal -->
    <div class="modal fade" id="siteInfoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title font-weight-bold" id="exampleModalLabel">GourmeJunk - Demo</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5 class="font-weight-bold">Test account:</h5>
                    <p class="mb-1">Username/email: test@gourmejunk.com</p>
                    <p>Password: 123456</p>

                    <h5 class="font-weight-bold">How to pay for an order:</h5>
                    <p class="mb-1">The website is using Stripe Web API (in Test Mode) for online payments. In order to pay, please, use the following credentials:</p>
                    <ul>
                        <li>Email: any random email</li>
                        <li>Card Number: 4242424242424242</li>
                        <li>Date: any random future date</li>
                        <li>CVC: any random 3-digit number</li>
                    </ul>

                    <p class="mb-0 font-weight-bold">For more info visit the website's git repository: <a target="_blank" href="https://github.com/volenpopov/GourmeJunk">Git Repo</a></p>
                </div>
                <div class="modal-footer d-flex justify-content-center">
                    <button type="button" class="btn btn-secondary flex-grow-1" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
        <script src="~/js/jquery-ui.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
        <script src="~/js/jquery-ui.js"></script>
        <script src="~/js/jquery.timepicker.min.js"></script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
