@using Microsoft.AspNetCore.Identity
@using GourmeJunk.Data.Models

@inject SignInManager<GourmeJunkUser> signInManager

    <ul class="navbar-nav">
        @if (signInManager.IsSignedIn(User))
        {
        <li class="nav-item">            
            <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index">Hi, <span class="text-warning"><u>@User.Identity.Name</u> <i class="far fa-user"></i></span></a>
        </li>
            <li class="nav-item ml-3">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <input type="submit" value="Logout" class="nav-link btn btn-link text-light"/>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>