@using Microsoft.AspNetCore.Identity
@using GourmeJunk.Data.Models

@inject SignInManager<GourmeJunkUser> SignInManager

    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
        <li class="nav-item">            
            <a class="nav-link text-light" href="#">Hi, @User.Identity.Name!</a>
        </li>
            <li class="nav-item ml-3">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout">
                    <input type="submit" value="Logout" class="nav-link btn btn-link text-light"/>
                </form>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
            </li>
        }
    </ul>