@using GourmeJunk.Data.Models

@model string

    <div class="text-center">
        @if (Model == OrderStatus.Submitted.ToString())
        {
            <p class="d-inline activeStatus">Submitted</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Cooking</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Ready</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Delivered</p>
        }
        else if (Model == OrderStatus.Cooking.ToString())
        {
            <p class="d-inline font-weight-bold">Submitted</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline activeStatus">Cooking</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Ready</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Delivered</p>
        }
        else if (Model == OrderStatus.Ready.ToString())
        {
            <p class="d-inline font-weight-bold">Submitted</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Cooking</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline activeStatus">Ready</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Delivered</p>
        }
        else if (Model == OrderStatus.Delivered.ToString())
        {
            <p class="d-inline font-weight-bold">Submitted</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Cooking</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline font-weight-bold">Ready</p> <span class="font-weight-bold">&rarr;</span>
            <p class="d-inline activeStatus">Delivered</p>
        }
    </div>